@CHARSET "UTF-8";

/**
 * Twilight Theme
 *
 * Based off of the Sublime Text 2 Color Scheme of the same name
 */
 
body {
	background: #202021;
	color: white;
}

/** Strings
******************************************************************************/
pre.pretty-php .T_CONSTANT_ENCAPSED_STRING,
pre.pretty-php .T_ENCAPSED_AND_WHITESPACE,
pre.pretty-php .C_VARSTRING {
	color: #8f9d6a;
}

pre.pretty-php .C_DOUBLE_BACKSLASH {
	color: #ddf2a4;
}

/** Comments
******************************************************************************/
pre.pretty-php .T_COMMENT {
	color: #75715e;
}

pre.pretty-php .T_COMMENT .C_COMMENT_LINK {
	text-decoration: none;
	color: #75715e;
}

pre.pretty-php .T_COMMENT .C_COMMENT_LINK:hover {
	text-decoration: underline;
	color: #a8a387;
}

/** PHPDoc Comments
******************************************************************************/
pre.pretty-php .T_DOC_COMMENT {
	color: #5f5a60;
}

pre.pretty-php .T_DOC_COMMENT .C_DOCBLOCK_TAG {
	color: #cda869;
}	

pre.pretty-php .T_DOC_COMMENT .C_DOCBLOCK_LINK {
	text-decoration: none;
	color: #5f5a60;
}

pre.pretty-php .T_DOC_COMMENT .C_DOCBLOCK_LINK:hover {
	text-decoration: underline;
	color: #928b94;
}

/** Keywords
******************************************************************************/
pre.pretty-php .C_SELF,
pre.pretty-php .T_AS,
pre.pretty-php .T_BREAK,
pre.pretty-php .T_CASE,
pre.pretty-php .T_CATCH,
pre.pretty-php .T_CLONE,
pre.pretty-php .T_CONST,
pre.pretty-php .T_CONTINUE,
pre.pretty-php .T_DECLARE,
pre.pretty-php .T_DEFAULT,
pre.pretty-php .T_DO,
pre.pretty-php .T_ECHO,
pre.pretty-php .T_ELSE,
pre.pretty-php .T_ELSEIF,
pre.pretty-php .T_EMPTY,
pre.pretty-php .T_ENDDECLARE,
pre.pretty-php .T_ENDFOR,
pre.pretty-php .T_ENDFOREACH,
pre.pretty-php .T_ENDIF,
pre.pretty-php .T_ENDSWITCH,
pre.pretty-php .T_ENDWHILE,
pre.pretty-php .T_EVAL,
pre.pretty-php .T_EXIT,
pre.pretty-php .T_EXTENDS,
pre.pretty-php .T_FOR,
pre.pretty-php .T_FOREACH,
pre.pretty-php .T_GLOBAL,
pre.pretty-php .T_GOTO,
pre.pretty-php .T_IF,
pre.pretty-php .T_INCLUDE,
pre.pretty-php .T_INCLUDE_ONCE,
pre.pretty-php .T_INSTANCEOF,
pre.pretty-php .T_INTERFACE,
pre.pretty-php .T_ISSET,
pre.pretty-php .T_LOGICAL_AND,
pre.pretty-php .T_LOGICAL_OR,
pre.pretty-php .T_LOGICAL_XOR,
pre.pretty-php .T_NAMESPACE,
pre.pretty-php .T_NEW,
pre.pretty-php .T_PRINT,
pre.pretty-php .T_STATIC,
pre.pretty-php .T_SWITCH,
pre.pretty-php .T_THROW,
pre.pretty-php .T_TRY,
pre.pretty-php .T_USE,
pre.pretty-php .T_UNSET,
pre.pretty-php .T_VAR,
pre.pretty-php .T_WHILE {
	color: #cda869;
}

pre.pretty-php .C_NULL,
pre.pretty-php .C_TRUE,
pre.pretty-php .C_FALSE {
	color: #cf6a4c;
}

pre.pretty-php .C_MAGIC_METHOD,
pre.pretty-php .C_BUILTIN_FUNCTION,
pre.pretty-php .T_ABSTRACT,
pre.pretty-php .T_ARRAY,
pre.pretty-php .T_CLASS,
pre.pretty-php .T_END_HEREDOC,
pre.pretty-php .T_FINAL,
pre.pretty-php .T_FUNCTION,
pre.pretty-php .T_IMPLEMENTS,
pre.pretty-php .T_PRIVATE,
pre.pretty-php .T_PUBLIC,
pre.pretty-php .T_PROTECTED,
pre.pretty-php .T_REQUIRE,
pre.pretty-php .T_REQUIRE_ONCE,
pre.pretty-php .T_RETURN,
pre.pretty-php .T_START_HEREDOC {
	color: #f9ee98;
}

pre.pretty-php .T_THROW + .T_NEW {
	color: #cf6a4c;
}

pre.pretty-php .T_END_HEREDOC + .C_SEMICOLON,
pre.pretty-php .T_START_HEREDOC .C_HEREDOC_ARROWS {
	color: #8f9d6a;
}

/** "Operators"
******************************************************************************/
pre.pretty-php .C_ASSIGNMENT, 
pre.pretty-php .T_OPERATOR,
pre.pretty-php .T_IS_NOT_EQUAL,
pre.pretty-php .T_AND_EQUAL,
pre.pretty-php .T_BOOLEAN_AND,
pre.pretty-php .T_BOOLEAN_OR,
pre.pretty-php .T_CONCAT_EQUAL,
pre.pretty-php .T_DIV_EQUAL,
pre.pretty-php .T_DOUBLE_ARROW,
pre.pretty-php .T_DOUBLE_COLON,
pre.pretty-php .T_IS_EQUAL,
pre.pretty-php .T_IS_GREATER_OR_EQUAL,
pre.pretty-php .T_IS_IDENTICAL,
pre.pretty-php .T_IS_NOT_EQUAL,
pre.pretty-php .T_IS_NOT_IDENTICAL,
pre.pretty-php .T_IS_SMALLER_OR_EQUAL,
pre.pretty-php .T_MINUS_EQUAL,
pre.pretty-php .T_MOD_EQUAL,
pre.pretty-php .T_MUL_EQUAL,
pre.pretty-php .T_OBJECT_OPERATOR,
pre.pretty-php .T_OR_EQUAL,
pre.pretty-php .T_PAAMAYIM_NEKUDOTAYIM,
pre.pretty-php .T_PLUS_EQUAL,
pre.pretty-php .T_SL_EQUAL,
pre.pretty-php .T_SR_EQUAL,
pre.pretty-php .T_XOR_EQUAL {
	color: #cda869;
}

/** Bitwise Operators (<< and >>)
******************************************************************************/
pre.pretty-php .T_SL,
pre.pretty-php .T_SR {
	color: black;
}

/** PHP Open/Close Tags (<?php, ?>)
******************************************************************************/
pre.pretty-php .T_OPEN_TAG, 
pre.pretty-php .T_CLOSE_TAG {
	color: white;
}

/** Classnames
******************************************************************************/
pre.pretty-php .C_CLASSNAME,
pre.pretty-php .C_FUNCTION_NAME,
pre.pretty-php .C_IMPLEMENTS_CLASS {
	color: #9b703f;
}

pre.pretty-php .C_IMPLEMENTS_CLASS {
	color: #9b859d;
}

pre.pretty-php .C_PARAMETER_TYPEHINT,
pre.pretty-php .C_CLASSNAME_REF {
	color: #9b859d;
}

/** Namespaces
******************************************************************************/
pre.pretty-php .C_NAMESPACE .T_STRING {
	color: #cf6a4c;
}

/** Class variables (Being defined)
******************************************************************************/
pre.pretty-php .T_PROTECTED + .T_VARIABLE {
	color: #7587a6;
}

/** Variables
******************************************************************************/
pre.pretty-php .T_VARIABLE,
pre.pretty-php .C_OBJECT_PROPERTY {
	color: #7587a6;
}

/** Class methods
******************************************************************************/
pre.pretty-php .C_METHOD_CALL {
	color: white!important;
}